fastapi
uvicorn
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-text-splitters==0.3.5
langchain-google-genai
langchain-huggingface==0.1.2
sentence-transformers
faiss-cpu
pandas
numpy
python-dotenv
sqlalchemy
pydantic
requests
streamlit
google-generativeai
pypdf
